<div>
<form action="http://localhost:3000/inscription" method="post">
    <h1>JOIN THE GILET JAUNE</h1>

        <label for="name">Nom :</label>
        <input type="text" id="name" name="user_nom">

        <label for="name">Prenom :</label>
        <input type="text" id="name" name="user_prenom">

        <label for="name">Email :</label>
        <input type="email" id="name" name="user_email">

        <label for="name">Mot de Passe :</label>
        <input type="password" id="name" name="user_mdp">

        <label for="name">Confirmation de Mot de Passe :</label>
        <input type="password" id="name" name="user_mdp2">

        <label for="name">Date de Naissance :</label>
        <input type="date" id="name" name="user_ddn">

        <label for="name">Rôle :</label>
        <select id="role" name="role">
            <option value="Partisan">Partisan</option>
            <option value="Casseur">Casseur</option>
            <option value="Crieur">Crieur</option>
            <option value="Porteur de Bannière">Porteur de Bannière</option>
        </select>

        <input type="submit">
</form>
</div>
